#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Empêche le débordement */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* empêche le scroll */
  height: 100%;
  width: 100%;
}

/* Facultatif : s'assurer que le root prend tout aussi */
#root {
  height: 100%;
  width: 100%;
}
